/*.html~
/videoseminars/*.html~
/openings/*.html~
/TEMPORARY
/presentations/index.html~
/publications/index.html~
/biosketch/index.html~
/template-index.html
/publications/CoreGuidedPB/*.html~
/miao-seminars/*.html~
/redirect-test/*.html~
/miao-group/*.html~
/miao-group/text-kattis.txt
/software/*.html~
/teaching/CoCo23/*.html~
/teaching/CoCo23/Code/*.txt~
/openings/CHANGED_Postdoc-UCPH-230110.html
/teaching/*.html~
/teaching/CoCo24/*.BAK
/teaching/CoCo24/Code/scheduleparser
*.html~
*.txt~
/teaching/proofcplx25/index.html.BAK
/teaching/proofcplx25/Code/schedule-contents-proofcplx25-DENSE.txt
/teaching/proofcplx25/Code/scheduleparser
*.d
*.cc~
*.BAK
*.BAK251124
*.BAK251119
